@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide-in {
    animation: slide-in 0.5s forwards;
  }

  /* Hide on screens smaller than 768px */
@media (max-width: 767px) {
  .search-bar {
    display: none;
  }
}

/* Hide on screens smaller than 992px */
@media (max-width: 991px) {
  .search-bar {
    display: none;
  }
}